<h1 class="text-center text-3xl font-medium animate__fadeInDown">Khynx Store | Home</h1>

<div class="mt-10 text-center">
    <h2 class="text-2xl font-medium">About Us</h2>
    <div class="lg:columns-2 md:columns-2">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis, a adipisci sequi, vel ad illum, eaque
            laudantium optio voluptatum facilis deserunt culpa. Voluptas quod enim ad at laboriosam aliquam. Tempora,
            nesciunt totam repudiandae voluptatibus quaerat blanditiis dolores ipsum provident ab illo dolorem
            praesentium asperiores inventore officiis consequuntur ad architecto at fugit harum quia quo culpa.
            Consequuntur exercitationem temporibus ipsam quis minima, illum, aperiam omnis qui molestiae placeat quia
            quam! Vel eligendi ipsa perferendis possimus, repellendus maxime impedit excepturi omnis molestias quis enim
            ipsam ratione reprehenderit molestiae, nam doloremque mollitia inventore voluptatum! Asperiores consequuntur
            a nostrum ullam fuga reprehenderit numquam similique.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis, a adipisci sequi, vel ad illum, eaque
            laudantium optio voluptatum facilis deserunt culpa. Voluptas quod enim ad at laboriosam aliquam. Tempora,
            nesciunt totam repudiandae voluptatibus quaerat blanditiis dolores ipsum provident ab illo dolorem
            praesentium asperiores inventore officiis consequuntur ad architecto at fugit harum quia quo culpa.
            Consequuntur exercitationem temporibus ipsam quis minima, illum, aperiam omnis qui molestiae placeat quia
            quam! Vel eligendi ipsa perferendis possimus, repellendus maxime impedit excepturi omnis molestias quis enim
            ipsam ratione reprehenderit molestiae, nam doloremque mollitia inventore voluptatum! Asperiores consequuntur
            a nostrum ullam fuga reprehenderit numquam similique.</p>
    </div>
</div>

<div class="colums-2 text-center">
    <a href="/store"
        class="mr-4 bg-green-400 shadow-lg transition-all rounded-lg hover:bg-green-600 px-16 py-2 text-white text-xl">Store</a>
    <a href="/discord"
        class="bg-green-400 shadow-lg transition-all rounded-lg hover:bg-green-600 px-16 py-2 text-white text-xl">Discord</a>
</div>